<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>

	
	<bean class="controller.goods.GoodsController"/>
	<bean class="repository.GoodsRepository"/>
	<bean class="service.goods.GoodsNumberService" />
	<bean class="service.goods.GoodsWriteService" />
	<bean class="service.goods.GoodsListService" />
	<bean class="service.goods.GoodsDetailService" />
	<bean class="service.goods.GoodsUpdateService" />
	<bean class="service.goods.GoodsDeleteService" />
	<bean class="service.goods.GoodsCartAddService" />
	<bean class="service.goods.GoodsCartListService" />
	<bean class="service.goods.GoodsCartQtyDownService" />
	<bean class="service.goods.GoodsBuyService" />
	<bean class="service.goods.GoodsOrderService" />
	<bean class="controller.goods.GoodsCartController"/>
	<bean class="controller.goods.GoodsViewController"/>
	
	
</beans>
<!-- 아이디와 클래스명이 같아야한다. -->
<!-- TIP
아이디와 클래스명이 다르다면 id와 class를 각각 작성해야 하지만
아이디와 클래스명이 같을경우 클래스만 작성해도 아이디는 자동 생성 된다.
-->